:root{
  --vermelho:#E01501;
  --vermelho-escuro:#610800;
  --vermelho-rose:#E65245;
  --vinho:#61231D;
  --vermelho-medio:#AD0E00;
  --vermelho-clarinho:#d48d86;
  --branco:#fff;
  --preto:#000;
  --cinza-escuro:#1c1c1c;
  --cinza-padrao:#333;
  --amarelo-mega-escuro:#806000;
  --verde:#52f34c;
  --azul:#000CFF;
}



#question {
  background: linear-gradient(
    90deg,
    var(--branco)100%,
    var(--vermelho) 0%,
    var(--branco)100%
  );
  border-radius: 1rem;
  padding: 2rem;
  width: 500px;
  color: var(--verde);
}

#question p {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--cinza-escuro);
}

#question h2 {
  color: var(--vermelho);
  margin-bottom: 2rem;
}

#question button {
  margin: 1rem;
}
