:root{
  --vermelho:#E01501;
  --vermelho-escuro:#610800;
  --vermelho-rose:#E65245;
  --vinho:#61231D;
  --vermelho-medio:#AD0E00;
  --vermelho-clarinho:#d48d86;
  --cinza:#455A64;
  --branco:#fff;
  --preto:#000;
  --cinza-escuro:#1c1c1c;
  --cinza-padrao:#333;
}


#welcome {
  text-align: center;
  max-width: 500px;
}

#welcome h2,
#welcome p {
  margin-bottom: 1rem;
}

#welcome p {
  color: var(--vermelho);
}

#welcome img {
  margin-left: -10%;
  width: 45vw;
  margin-top: 2rem;
}
